<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.roy.relearn.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReLearnAndroid">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.ReLearnAndroid.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lifecycle.AActivity" />
        <activity
            android:name=".lifecycle.BActivity"
            android:theme="@style/ThemeOverlay.ReLearnAndroid.Transparent" />
        <activity
            android:name=".lifecycle.CActivity"
            android:theme="@style/ThemeOverlay.ReLearnAndroid.Translucent" />
        <activity
            android:name=".lifecycle.DActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".launchmodel.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".launchmodel.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmodel.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchmodel.SingleInstanceActivity"
            android:launchMode="singleInstance" />

        <service
            android:name=".service.TaskService" />
    </application>

</manifest>